@media screen and (min-width: 768px) {
    #main-wrapper {
        min-width: 1140px;
        margin: 0 auto;
    }
}

.img-profile {
    width: 100%;
}

.profile-info-table {
    height: 200px;
}

.a-edit-profile {
    position: absolute;
    top: 10px;
    right: 10px;
}

.item-thumb-sm {
    width: 32px;
}
